/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',arial,sans-serif;;
}

body{
    min-height:100vh;
    width:100%;
    overflow:hidden;
    background:linear-gradient(135deg, #4AB1FF, #2D5CFE);
}

/* utilities  */
.wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

/* Title */

/* Task container  */
.container{
    max-width:450px;
    padding:28px 0 30px;
    margin:137px auto;
    background:#f3f3f3;
    border-radius:7px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* Form container selector section  */
.form{
    height:52px;
    padding:0 25px;
    position:relative;
}

.form input{
    height:100%;
    width:100%;
    outline:none;
    font-size:18px;
    border-radius:5px;
    padding:0 53px 0 20px;
    border:1px solid #999;
}

.form input:focus{
    /* padding-left: 52px; */
    border:2px solid #3c87ff;
}

.from input::placeholder{
    color:#bfbfbf;
}

/* Filter controls section  */
.controls{
    padding:18px 25px;
    border-bottom:1px solid #ccc;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.filters span{
    margin:0 8px;
    font-size:17px;
    color:#444444;
    cursor:pointer;
    float:left;
}

.filters span:first-child{
    margin-left:0;
}

.filters span.active{
    color:#3C87FF;
}

.controls .clear-btn{
    border:none;
    opacity:0.6;
    outline:none;
    color:#fff;
    font-size:13px;
    padding:7px 13px;
    border-radius:4px;
    letter-spacing:0.3px;
    transition:transform 0.25s ease;
    background:linear-gradient(135deg, #1798fb 0%,#2D5CFE 100%);
    cursor:pointer;
}

.clear-btn.active{
    pointer-events:auto;
    opacity:0.9;
}

.clear-btn:active{
    transform:scale(0.93);
}

/* Tasks list container selector section  */
.tasks-box{
    margin-top:20px;
    margin-right:5px;
    padding:0 20px 10px 20px;
}

.tasks-box.overflow{
    overflow-y:auto;
    max-height:300px;
}

.tasks-box::-webkit-scrollbar{
  width: 5px;
}

.tasks-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.tasks-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}

.tasks-box .task{
    list-style:none;
    font-size:17px;
    margin-bottom:18px;
    padding-bottom:16px;
    align-items:flex-start;
    border-bottom:1px solid #ccc;
}

li{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.tasks-box .task:last-child{
    margin-bottom:0;
    border-bottom:0;
    padding-bottom:0;
}

.tasks-box .task label{
    display:flex;
    accent-color:#3c87ff;
}

.task label input{
  margin-top: 7px;
  margin-left:12px;
  accent-color: #3C87FF;
}

.task label p{
    user-select: none;
    margin-left:12px;
    word-wrap:break-word;
}

.task label p.checked{
    text-decoration:line-through;
}

.checked{
    text-decoration:line-through;
    color:#6f6f6f;
}

.tasks-box .delete{
    cursor: pointer;
    position:relative;
}

/* Task setting - edit & delete  */
.tasks-box .settings{
    position: relative;
}

.settings :where(i,li){
    cursor: pointer;
}

.settings .task-edit-menu{
    position:absolute;
    right:-5px;
    bottom:-65px;
    padding:5px 0;
    background:#fff;
    border-radius:4px;
    transform:scale(0);
    transform-origin:top right;
    box-shadow:0 0 6px rgba(0,0,0,0.15);
    z-index:10;
    transition:transform 0.2s ease;
}

.tasks-box .task:last-child .task-edit-menu{
    bottom:0;
    transform-origin: bottom right;
}

.tasks-box .task:first-child .task-edit-menu{
    bottom:-65px;
    transform-origin: top right;
}

.task-edit-menu.show{
    transform:scale(1);
}

.task-edit-menu li{
    height:25px;
    font-size:16px;
    margin-bottom:2px;
    padding:17px 15px;
    justify-content: flex-start;
    cursor:pointer;
}

.task-edit-menu li:last-child{
    margin-bottom:0;
}

.settings li:hover{
    background:#f5f5f5;
}

.settings li i{
    padding-right:8px;
}

@media(max-width:400px){
    body{
    padding: 0 10px;
  }
  .container {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .task-input{
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
  }
  .tasks-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input{
    margin-top: 4px;
  }
}


