*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: arial,sans-serif;;
}

body{
    min-height:100vh;
}

/* utilities  */
.wrapper{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

/* Title */
#title{
    margin:40px 0;
    font-size:50px;
    font-weight:600px;
    color:#3f3f3f;
}

/* Task container  */
.tdl-container{
    width:500px;
    padding:20px;
    border:2px solid #333;
    border-radius:4px;
    background:steelblue;
}

/* task input */
.task-input{
    width:100%;
    display:flex;
    flex-direction: row;
}

.task-input > input{
    height:28px;
    width:100%;
    padding:5px;
    border:none;
    border-radius:4px 0 0 4px;
    outline:none;
}

.task-input > .btn{
    height:28px;
    padding:0 20px;
    border:none;
    border-radius:0 4px 4px 0;
    outline:none;
    background:skyblue;
    color:#f3f3f3;
    cursor: pointer;
}

/* tasks  list */
.tasks-list{
    margin:20px 0;
    padding:10px;
}

.task{
    margin-top:5px;
    padding:15px 0;
    /* background:skyblue; */
    display:flex;
    align-items: center;;
    flex-direction: row;
}

.task > p{
    flex:2;
    padding-left:10px;
    color:#f3f3f3;
}

.completed{
    text-decoration:line-through;
    color:#6f6f6f;
}

.delete{
    cursor: pointer;
}